@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#root{
    min-width: 100vw;
    min-height: 100vh;
    background-color: #C4D7E0;
    align-items: center;
    font-family: 66%;
    padding-top: 2rem;
}
.search{
    h1{
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: bold;
        color: rgb(34, 83, 73);
    }
}
.newsIcon{
    font-size: 2.2rem !important;
    margin-left: 0.5rem !important;
    color: rgb(124, 124, 124);
}
.TextInput{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    display: flex !important;
    background-color: white;
    width: 25rem;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
    border-bottom: 3px solid rgb(34, 83, 73) !important;
    label{
        left: 1rem !important;
    }
    input{
        padding:0.2rem 1rem;
    }
}
.stories{
    margin: auto;
    margin-top: 2rem;
    width: 40rem;
    min-height: 10rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px grey;
}