.sync/
.tmp.driveupload/
.tmp.drivedownload/
HTML Projects/E-commerce website/Backend/.env
HTML Projects/React Practice/TODO list/node_modules
HTML Projects/news/node_modules
HTML Projects/reactapp/client/node_modules
