<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Completed</h1>
    <form action="/" method="POST">
    <input type="text" name="url" id="url">
    <input type="submit" value="Submit">
    </form>
    <button><a href="{{link}}">Click</a></button>
</body>
</html>