<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
<title>Log In</title>
</head>
<body>
    <header id="Sheader">
        <div id="prompt">{{message}}</div>
    <nav class="navbar">
    {{>nav}}
    </nav>
    </header>
    <section class="form">
        <h2>Log In</h2>
        <form  action="/login" method="POST" id="sForm" onsubmit="return validate()">
           <div class="labelI">
            <label for="email" class="material-symbols-outlined">mail</label> 
            <input type="email" name="email" placeholder="Email" required >
        </div>
        <div class="labelI">
            <label for="password" class="material-symbols-outlined">lock</label> 
            <input type="password" name="password" placeholder="Password" required >
            <button type="button" class="material-symbols-outlined pass" onclick="toggle(this,this.previousElementSibling)">visibility</button>
            <span class="error" id="perror">Password must be atleast 6 characters</span>
            <span class="error" id="Cerror">{{Cerror}}</span>
            </div>
        </div>
        <input type="submit" value="Log in" class="submit">
        </form>
</section>
<script src="signup.js"></script>
</body>
</html>