<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
<title>Sign Up</title>
</head>
<body>
    <header id="header">
    <nav class="navbar" style="background-color: rgba(16, 0, 163);">
    {{>nav}}
    </nav>
    </header>
</body>
</html>