@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(202, 212, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 66%;
    font-family: 'Roboto', sans-serif;
}
.first{
    width: 20rem;
    height: 30rem;
    background-color: rgb(238, 237, 225);
    border-radius: 1rem;
    box-shadow: 2px 6px 6px grey;
    padding-top: 2rem;
    padding-bottom: 0.1rem;
    h1{
        text-align: center;
        font-size: 1.9rem;
        background-color: rgb(72, 206, 255);
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1.5rem;
}
.second{
    min-height: 2.5rem;
    width: 90%;
    border-radius: 1rem;
    margin: 2rem auto;
    box-shadow: 2px 2px 4px grey;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
.second::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    border-radius: 1rem;
}
.second::-webkit-scrollbar-track {
    background-color: rgb(238, 237, 225);
}
.second::-webkit-scrollbar-thumb {
    background-color: rgb(106, 215, 255);
    border-radius: 1rem;
}
.Data{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.2rem;
}
.Data-container{
    max-height: 70%;
    overflow-y: auto;
}
.Data-container::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    border-radius: 1rem;
}
.Data-container::-webkit-scrollbar-track {
    background-color: rgb(238, 237, 225);
}
.Data-container::-webkit-scrollbar-thumb {
    background-color: rgb(106, 215, 255);
    border-radius: 1rem;
}
.auto{
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

}